<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<body>
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light" id="mainNav" th:fragment="navbar">
  <div class="container px-4 px-lg-5">
    <a class="navbar-brand" th:href="@{/}">Start Bootstrap</a>
    <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarResponsive"
        aria-controls="navbarResponsive"
        aria-expanded="false"
        aria-label="Toggle navigation"
    >
      Menu
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto py-4 py-lg-0">
        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" th:href="@{/}">Home</a></li>
        <li class="nav-item" sec:authorize="isAnonymous()"><a class="nav-link px-lg-3 py-3 py-lg-4" th:href="@{/login}">Login</a></li>
        <li class="nav-item" sec:authorize="isAnonymous()"><a class="nav-link px-lg-3 py-3 py-lg-4" th:href="@{/register}">Register</a></li>

        <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
          <a
              class="nav-link px-lg-3 py-3 py-lg-4 dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              id="dropdownMenuButton"
              aria-expanded="false"
              sec:authentication="name"
          >
            Logged User
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li><a class="dropdown-item" th:href="@{/user/profile}">Profile</a></li>
            <li><a class="dropdown-item" th:href="@{/user/posts}">My Posts</a></li>
            <th:block sec:authorize="hasRole('ADMIN')">
              <div class="dropdown-divider"></div>
              <h6 class="dropdown-header">ADMIN</h6>
              <li><a th:href="@{/user/posts/all}" class="dropdown-item">All Posts</a></li>
            </th:block>
            <li>
              <form method="POST" th:action="@{/logout}">
                <input type="submit" class="dropdown-item" value="Logout"/>
              </form>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
</body>
</html>