<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>github/anilozmen</title>
  <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}"/>
  <link th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>

<div class="d-flex align-items-center justify-content-center vh-100">
  <div class="text-center">
    <h1 class="display-1 fw-bold" th:text="${httpStatus?.value} ?: '500'">404</h1>
    <p class="fs-3">
      <span class="text-danger">Opps!</span>
      [[${httpStatus?.reasonPhrase} ?: 'Something went wrong!']]
    </p>
    <p class="lead" th:text="${errorMessage}"></p>
    <a th:href="@{/}" class="btn btn-primary">Back to Home Page</a>
  </div>
</div>

</body>
</html>

